{% extends 'base.html.twig' %}
{% block body %}

{# {% block closingAuction %}
		<script>
			var countDownDate = new Date("{{ auction.closingDate | date('M d, Y H:i:s') }}").getTime();

// Update the count down every 1 second
var x = setInterval(function () { // Get today's date and time
var now = new Date().getTime();

// Find the distance between now and the count down date
var distance = countDownDate - now;

// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="timer"
document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

// If the count down is over, write some text
if (distance < 0) {
clearInterval(x);
document.getElementById("timer").innerHTML = "CLOSED";
}
}, 1000);
		</script>
	{% endblock %} #}

	<!-- Start Banner Hero -->
	<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
		<ol class="carousel-indicators">
			<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
			<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
			<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="container">
					<div class="row p-5">
						<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
							<img class="img-fluid" src="./assets/img/backgroundHammer2.svg" alt="">
						</div>
						<div class="col-lg-6 mb-0 d-flex align-items-center">
							<div class="text-align-left align-self-center">
								<h1 class="h1 text-success">
									<b>auctiWeb</b>
									Auction Website</h1>
								<h3 class="h2">Auction what you don't use and bid on what interests you</h3>
								<p>
									auctiWeb is an auction website, where you can auction your belongings and users can bid on them.
																																																																																																																																																																																													                                    This template is 100% free provided by

								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% for auction in auctions|slice(-2) %}
				<div class="carousel-item">
					<div class="container">
						<div class="row p-5">
							<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
								<img class="img-fluid" src="./auctions/photos/{{ auction.photosName }}" alt="">
							</div>
							<div class="col-lg-6 mb-0 d-flex align-items-center">
								<div class="text-align-left">
									<h1 class="h1">
										<b>{{ auction.title }}</b>
									</h1>
									<h3 class="h2">{{ auction.description }}</h3>
									<p>
										Other Data About Auction and Auctioneer...
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
			<i class="fas fa-chevron-left"></i>
		</a>
		<a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
			<i class="fas fa-chevron-right"></i>
		</a>
	</div>
	<!-- End Banner Hero -->
	<!-- Start Categories of The Month -->
	<section class="container py-5">
		<div class="row text-center pt-3">
			<div class="col-lg-6 m-auto">
				<h1 class="h1">Available Categories</h1>
				<p>
					Choose the category that best suits your product
																																																																																															                    deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-8 col-md-3 p-5 mt-3">
				<a href="#"><img src="./assets/img/artCat.jpg" class="rounded-circle img-fluid border"></a>
				<h5 class="text-center mt-3 mb-3">Art</h5>
				{# <p class="text-center">
																													<a class="btn btn-success">Go Shop</a>
																												</p> #}
			</div>
			<div class="col-8 col-md-3 p-5 mt-3">
				<a href="#"><img src="./assets/img/jewelCat.jpg" class="rounded-circle img-fluid border"></a>
				<h2 class="h5 text-center mt-3 mb-3">Jewels</h2>

			</div>
			<div class="col-8 col-md-3 p-5 mt-3">
				<a href="#"><img src="./assets/img/bookCat.jpg" class="rounded-circle img-fluid border"></a>
				<h2 class="h5 text-center mt-3 mb-3">Books</h2>

			</div>
			<div class="col-8 col-md-3 p-5 mt-3">
				<a href="#"><img src="./assets/img/musicCat.jpg" class="rounded-circle img-fluid border"></a>
				<h2 class="h5 text-center mt-3 mb-3">Music</h2>

			</div>
		</div>
	</section>
	<!-- End Categories of The Month -->
	<!-- Start Featured Product -->
	<section class="bg-light">
		<div class="container py-5">
			<div class="row text-center py-3">
				<div
					class="col-lg-6 m-auto">
					{# ({{ auctions|length }}) #}
					<h1 class="h1">Latest Auctions</h1>
					{# counting array values #}
					<p>
						Bid for the category that best suits your needs
					</p>
				</div>
			</div>
			<div
				class="row">
				{# {% for auction in auctions|slice(-3) %} #}
				{% for auction in auctions|slice(-3) %}
					{# {% if auction.startDate < auction.closingDate  %} #}
					<div class="col-12 col-md-4 mb-4">
						<div class="card h-100">
							<a href="/auction/{{ auction.id }}">
								<img src="./auctions/photos/{{ auction.photosName }}" class="card-img-top" alt="...">
							</a>
							<div class="card-body">
								<ul class="list-unstyled d-flex justify-content-between">
									<li>
										<i class="text-warning fa fa-star"></i>
										<i class="text-warning fa fa-star"></i>
										<i class="text-warning fa fa-star"></i>
										<i class="text-muted fa fa-star"></i>
										<i class="text-muted fa fa-star"></i>
									</li>
									<li class="text-muted text-right">{{ auction.price }}$</li>
								</ul>
								<a href="/auction/{{ auction.id }}" class="h2 text-decoration-none text-dark">{{ auction.title }}</a>
								<p class="card-text">
									{{ auction.description }}
								</p>
								<p class="text-muted">State (
									{{ auction.state }}
									)</p>
							</div>
						</div>
					</div>
					{# {% else %} #}
					{# {{ render (controller('App\\Controller\\AuctionController::delete', {'id': auction.id}))}} #}

					{# {% endif %} #}
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Featured Product -->
{% endblock %}
